{% extends "conflict/base.html" %}

{% block content %}
    <section class="container">
        <h2>Articles</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>PMC</th>
                    <th>PMID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                    <tr>
                        <td>{{ article.pmc }}</td>
                        <td>{{ article.pmid }}</td>
                        <td>{{ article.title }}</td>
                        <td>
                            <ul>
                                {% for conflict in article.conflict_set.all %}
                                    <li>{{ conflict.organisation.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
