{% extends "conflict/base.html" %}

{% block content %}
    <section class="container">
        <h2>Organisations</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Organisation</th>
                    <th>Articles</th>
                </tr>
            </thead>
            <tbody>
                {% for organisation in organisation_list %}
                    <tr>
                        <td>
                            <a href="{{ organisation.get_absolute_url }}">{{ organisation.name }}</a>
                        </td>
                        <td>
                            <ul>
                                {# TODO Pull the 10 into a variable! (Complicated slightly by |slice) #}
                                {% for conflict in organisation.conflict_set.all|slice:":10" %}
                                    <li>{{ conflict.article.title}}</li>
                                {% endfor %}
                                {% if organisation.conflict_set.count > 10 %}
                                    <a href="{{ organisation.get_absolute_url }}">...and {{ organisation.conflict_set.count|add:"-10" }} more!</a>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if is_paginated %}
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a>Prev</a>
                                    </li>
                                {% endif %}
                                {% comment %}
                                    <span class="page-current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                {% endcomment %}
                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a>Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </section>
{% endblock %}
